aside.main-sidebar {
  box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
}
.dashboard {
  background-size: cover!important;
  height: 600px;
  overflow: hidden;
}
.white-box {
  box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
  margin-bottom: 1rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
  top: 20%;
  margin: 0px 70px;
  padding: 50px 60px;
  text-align: center;
}
.button_div {
  display: inline-block;
}
.button_div button.btn.btn-block.btn-primary.btn-xs {
  display: inline;
  width: 130px;
  margin: 0px 20px;
}
.employes_section {
  margin: 0px 70px;
  padding: 50px 30px;
  text-align: center;
  margin-bottom: 60px!important;
}