  
      <!-- Main Sidebar Container -->
      <aside class="main-sidebar">
        <!-- Brand Logo -->
        <a href="#">
          <img src="assets/images/matter-of-time-logo-02.png" class="brand_logo">
      
        </a>
    
        <!-- Sidebar -->
        <div class="sidebar">
      
    
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
            
              <li class="nav-item">
                <a routerLink="/DashboardComponent" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Dashboard            
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/EmployeeComponent" class="nav-link">
                  <i class="nav-icon fas fa-user"></i>
                  <p>
                    Employee            
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-file-contract"></i>
                  <p>
                    Agreement            
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-user-clock"></i>
                  <p>
                    Overtime            
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-calendar-alt"></i>
                  <p>
                    Events            
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-calendar-alt"></i>
                  <p>
                    Calenders            
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-stamp"></i>
                  <p>
                    Permission            
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-bell"></i>
                  <p>
                    Notification            
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-file-contract"></i>
                  <p>
                    History Log            
                  </p>
                </a>
              </li>


              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-cog"></i>
                  <p>
                    Settings            
                  </p>
                </a>
              </li>

            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>