<div class="content-wrapper">
<div class="dashboard" style=" background: url('assets/images/dashboard-04-01.jpg') no-repeat center center fixed;">
    <div class="white-box">
      <p>Hi, Jitin</p>
      <h2>Would you like to Punch In? or Skip for now</h2>
      <i class="fas fa-calendar-alt"></i>
      <p>8th Oct, 2020</p>
      <i class="fas fa-history"></i>
      <p>5:30pm</p>

    <div class="button_div">
      <button type="button" class="btn btn-block btn-primary btn-xs">Punch In</button>
      <button type="button" class="btn btn-block btn-primary btn-xs">Punch Out</button>
    </div>
    </div>
</div>
</div>